@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #706fe5;
  --color-primary_dark: #1e1f4b;
  --color-grey_shade: #2e3e5c;
  --color-grey_light: #969696;
  --color-grey_tint: #706fe505;
  --color-black_shade: #333333;
}
body {
  font-family: "Poppins", sans-serif;
}

.b_f {
  animation: moveBackAndForth 2s ease-in-out infinite;
}

.a {
  animation: moveDiag 3s ease-in-out infinite;
}
.c {
  animation: moveC 4s ease-in-out infinite;
}

@keyframes moveC {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
@keyframes moveDiag {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

@keyframes moveBackAndForth {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
